.header-img {
  width: 100%;
  margin-top: 50px;
}
.profile-img {
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
.profile-name{
    font-size:30px;
    font-weight: 900;
    text-align: center;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}
.skills-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
.panelBack {
    background-color: aliceblue;
}
.desc {
  text-transform: capitalize;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin-left: 7px;
}

